
  <%# <div class="col-md-12 text-center my-2 mx-4">
    <div class="shadow rounded-4 mb-4 d-flex fs-md-3 fs-sm-4">
      <%= link_to 'favourites/favouritesapps', class: "text-black flex-grow-1 d-flex flex-row align-items-center text-decoration-none px-4 py-4" do %>
        <%# <span class="me-3" style="font-size:2em">🇩🇪</span>
          <div class="card-product-infos">
          <strong class="title">Germany</strong>
        </div>
      <% end %>
    <%# </div>
  </div> %>
<% @favourites.group_by {|f| f.bookmark.country}.each do |country|%>
  <div class="container shadow rounded-4 py-2 favourites-card">
      <button type="button" class="dropdown">
          <h1 class="country-drop" >
          <h1 class="country-icon">
          <%# <%= "🇵🇹" if country.first.full_name == "Portugal" %>
          <%# <%= "🇩🇪" if country.first.full_name == "Germany" %>
          </h1>
          <h1 class="country-name">
            <%= country.first.full_name %>
          </h1>
          </h1>
      </button>
      <div>
        <% country.second.each do |favourite|%>
        <%= render "categories/app", bookmark: favourite.bookmark, favourite: favourite %>
      <% end %>
      </div>
  </div>
  <br>
<% end %>
