<div class='profile-bg'>
  <div class='d-flex justify-content-center pt-5'>
    <%= cl_image_tag current_user.photo.key, class: "profile-img" %>
  </div>
  <h3 class="text-center mt-2 mb-3"><%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
  <p class="profile-info"><i class="fa-solid fa-envelope"></i> <%= current_user.email %></p>

 <div>
    <%= link_to "Favourites", favourites_path, class: "btn btn-primary rounded-4 profile-link mt-4" %>
  </div>

<br>

  <div>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-light rounded-4 profile-link mt-4" %>
    <%= link_to "Sign Out", edit_user_registration_path, class: "profile-link text-center no-text-decoration my-3" %>
  </div>

  <br>

  <%# <h2 class="text-center mt-5 mb-4">❤️ My Favourites</h2>
  <div class="favourites-cards">
    <% @favourites.each do |favourite| %>
      <%# <%= render "categories/app", bookmark: favourite.bookmark, favourite: favourite %>
    <%# <% end %>
  <%# </div> %>
</div>
