<%= video_tag "landing.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
<div class="col-md-12 text-center">
  <div class="home-page" style="">
    <div class="home-page__top">
      <%= image_tag "Logo4.jpg", class: "home-page__logo" %>
      <br>
      <br>
      <h4>GET THE APPS USED BY LOCALS.</h4>
      <br>
      <br>
      <h4>WHERE ARE YOU GOING ?</h4>
      <%= render 'shared/search' %>
    </div>

    <div class="home-page__buttons">
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
      <br>
      <%= link_to "Create an account", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
