<div class="col-12 mb-3">
  <div class="container shadow rounded-4 py-2 listingcard">
    <button type="button" class="dropdown">
      <%= cl_image_tag app.photo.key %>
      <h2><%= app.name %></h2>
    </button>
    <div class="content">
      <p><%= app.description %></p>
      <div class="d-flex justify-content-between">
        <%= link_to "❤️", favourites_path(app_id: app), data: { turbo_method: "post" }, class: "favourite-btn" %>
        <div class="links">
          <a href="appstore"> <%= image_tag "apple.jpg" %> </a>
          <a href="playstore"> <%= image_tag "play.jpg" %> </a>
        </div>
      </div>
    </div>
  </div>
</div>
