<h1>Homepage</h1>
<ul>
  <li>Navbar</li>
  <li>Banner like Uber (optional)</li>
  <li>Categories (Unabled when country is not selected)</li>
  <li>GoButton</li>
  <li>Footer</li>
</ul>

<div class="col-md-12 text-center">
<div class="btn-group">
<%= form_with url: categories_path, method: :get, class: "" do %>
  <%= text_field_tag :country,
    params[:country],
    class: "form-control",
    placeholder: "Where to?"
  %>
<% end %>
</div>
</div>

<ul>
  <% @categories.each do |category|%>
    <li><%= link_to category.name, category_path(category, country: params[:country]) %></li>
  <% end %>
</ul>

<head>
  <link rel="stylesheet" href="_categories.scss">
</head>

<div class="row">
  <%= render 'category', icon: 'ðŸ«¶', title: 'Date' %>
  <%= render 'category', icon: 'ðŸ•º', title: 'Events' %>
  <%= render 'category', icon: 'ðŸ¤', title: 'Buy & Sell' %>
  <%= render 'category', icon: 'ðŸ¥¡', title: 'Food Delivery' %>
  <%= render 'category', icon: 'ðŸš•', title: 'Ride' %>
  <%= render 'category', icon: 'ðŸš†', title: 'Public Commute' %>
  <%= render 'category', icon: 'ðŸ ', title: 'Find Home ' %>
  <%= render 'category', icon: 'ðŸ›Œ', title: 'Book Stay' %>
  <%= render 'category', icon: 'ðŸ’¸', title: 'Banking' %>
</div>

<div class="col-md-12 text-center">
 <a href="#">
<button type="button" class="btn btn-primary text-center">Exlpore</button>
 </a>
</div>
