<div class="col-md-12 text-center">
  <%= render 'shared/search' %>
</div>

<ul data-search-country-target="country">
  <% @categories.each do |category|%>
    <li><%= link_to category.name, category_path(category, country: params[:country]) %></li>
  <% end %>
</ul>

<div class="row">
  <%= render 'category', icon: 'ðŸ«¶', title: 'Date' %>
  <%= render 'category', icon: 'ðŸ•º', title: 'Events' %>
  <%= render 'category', icon: 'ðŸ¤', title: 'Buy & Sell' %>
  <%= render 'category', icon: 'ðŸ¥¡', title: 'Food Delivery' %>
  <%= render 'category', icon: 'ðŸš•', title: 'Ride' %>
  <%= render 'category', icon: 'ðŸš†', title: 'Public Commute' %>
  <%= render 'category', icon: 'ðŸ ', title: 'Find Home ' %>
  <%= render 'category', icon: 'ðŸ›Œ', title: 'Book Stay' %>
  <%= render 'category', icon: 'ðŸ’¸', title: 'Banking' %>
</div>
