<%# <%= render 'shared/navbar' %>

<%= link_to "Start", "/" %>

<div class="col-md-12 text-center">
  <%= render 'shared/search' %>
</div>
<br>
<div class="row">
  <ul data-search-country-target="country" style="list-style: none;">
    <% @categories.each do |category|%>
      <li><%= render 'categorycard', icon: category.icon, title: category.name, category: category, country: params[:country] %></li>
    <% end %>
  </ul>
</div>

<div class="row">
  <ul data-search-country-target="country" style="list-style: none;">
    <% @categories.each do |category|%>
      <li><%= render 'categorycard', icon: category.icon, title: category.name, category: category, country: params[:country] %></li>
    <% end %>
  </ul>
</div>


<%# <div class="row"> %>
  <%#= render 'categorycard', icon: 'â¤ï¸', title: 'Date' %>
  <%#= render 'categorycard', icon: 'ðŸ•º', title: 'Events' %>
  <%#= render 'categorycard', icon: 'ðŸ¤', title: 'Marketplaces' %>
  <%#= render 'categorycard', icon: 'ðŸ•', title: 'Delivery' %>
  <%#= render 'categorycard', icon: 'ðŸš•', title: 'Ride' %>
  <%#= render 'categorycard', icon: 'ðŸš†', title: 'Transport' %>
  <%#= render 'categorycard', icon: 'ðŸ ', title: 'Flats' %>
  <%#= render 'categorycard', icon: 'ðŸ›Œ', title: 'Accomodation' %>
  <%#= render 'categorycard', icon: 'ðŸ’³', title: 'Banking' %>
<%# </div> %>
