<div class="home-banner rounded-4 ">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active custom-buttom" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" class="custom-buttom"></button>
    </div>
    <div class="carousel-inner">
      <%= link_to root_path, id: "linklocal-carousel" do %>
      <% end %>
      <div class="carousel-item active" data-bs-interval="10000" >
        <%= image_tag "iphone.png", class: "d-block w-100 bg-image rounded-4"%>
        <div class="carousel-description">
          <p>Main Banner with the phone</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <%= image_tag "iphone.png", class: "d-block w-100 bg-image rounded-4" %>
        <div class="carousel-description">
          <p>Favourites Banner</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="search-bar">
  <%= render 'shared/search' %>
</div>

<br>

<div class="row categories-grid__container">
    <ul data-search-country-target="country" style="list-style: none;" class="categories-grid p-0">
      <% @categories.each do |category|%>
        <li><%= render 'categorycard', icon: category.icon, title: category.name, category: category, country: params[:country] %></li>
      <% end %>
    </ul>
</div>
