<%= link_to "Home", categories_path(country: params[:country]) %>

<div class="col-md-12 text-center">
  <%= render 'shared/navbar' %>
</div>

<h1><%= @category.name %></h1>

<% if @applications.empty? %>
  <h3>NOT AVAILABLE FOR THIS COUNTRY</h3>
<% else %>
  <ul>
    <% @applications.each do |app| %>
        <%= render 'app', name: app.name, description: app.description %>
    <% end %>
  </ul>
<% end %>

<%# <div class="row"> %>
  <%# <%= render 'app', title: 'Uber' %>
  <%# <%= render 'app', title: 'Uber' %>
  <%# <%= render 'app', title: 'Uber' %>
  <%# <%= render 'app', title: 'Uber' %>
<%# </div> %>

<div class="col-md-12 text-center">
  <a href="/">
    <button type="button" class="btn btn-primary text-center">Search Again</button>
  </a>
</div>
